@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Snow Blue";
    src: url("/fonts/SnowBlue.otf") format("opentype");
  }
}

@layer components {
  .navBtn {
    @apply focus:outline-none border-2 font-medium rounded-md text-sm px-9 
           py-2.5 text-center mr-2 mb-2 hover:transition hover:ease-linear 
           hover:duration-200;
  }
  .impText {
    @apply font-bold underline-offset-1 underline;
  }

  .btn {
    @apply h-7 hover:scale-125 cursor-pointer transition-all  duration-150 
           ease-out ml-1;
  }

  .filterType {
    @apply p-2 font-semibold text-lg text-gray-500 cursor-pointer hover:text-gray-900 
           hover:font-bold hover:scale-125 transition duration-300 ease-in;
  }

  .hoverScale {
    @apply hover:scale-105 transition transform duration-200 ease-out;
  }

  .contactDetails {
    @apply font-bold text-lg tracking-normal text-transparent bg-clip-text 
          bg-gradient-to-r from-rose-700 to-yellow-600;
  }
}
/* 
.container {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
} */
